.navigation {
  display: flex;
  height: 100%;
  padding: 0 1rem;

  ul {
    display: flex;
    height: 100%;
    align-items: center;
  }

  li {
    list-style-type: none;
    height: 100%;
  }

  a {
    color: $header-color;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: .5rem 1rem;
    border-bottom: 2px solid transparent;
    font-size: 1.2rem;
    font-weight: 400;
    transition: all 0.1s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &.selected {
      background: $accent-bg;
      color: $accent-color;
      border-bottom: 2px solid $accent-color;
    }
    &.selected {
      background: none;
      cursor: default;
    }
  }
}